<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet"/>

<div class="tamano">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Eliga una fecha</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ejs-datetimepicker class="e-control e-datetimepicker e-lib" format="dd-MM-yyyy HH:mm" id="datetimepick">
        </ejs-datetimepicker>
      </mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
