<div mat-dialog-content>
  <div class="tamano">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Eliga una fecha</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup] = citasForm novalidate >
          
        <mat-form-field  appearance="fill" >
          <input matInput [matDatepicker]="picker" [formControl]="fechaControl" placeholder="Elige una fecha" (dateChange) = 'filtrarHoras()' >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
          <div *ngIf="fechaControl.value">Fecha seleccionada</div>
        </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Elija una hora</mat-label>
            <mat-select [formControl]="hoursControl" required >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let hour of hours; let index=index" [value]="hour" [disabled]="!disabledHours[index]">{{hour.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hoursControl.hasError('required')">Por favor, elija una hora</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Sintomas...</mat-label>
            <input matInput placeholder="Ej. Sintomas, molestias..." [formControl]="tipoDolor">
          </mat-form-field>
          
        </form>

        <form>
          <mat-form-field class="description" appearance="fill" >
            <mat-label>Haga un pequeño resumen sobre los sintomas.</mat-label>
            <textarea matInput placeholder="Ej. Me siento..." [formControl]="descripcion"></textarea>
          </mat-form-field>
        </form>

        <button mat-raised-button color='primary' (click)='pedirCita()'>Pedir Cita</button>
      </mat-card-content>

      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div mat-dialog-actions>
<button mat-raised-button color="primary" (click)="close()">Cerrar</button>
</div>

