<!-- <table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Ref. Médico</th>
      <th scope="col">Síntomas</th>
      <th scope="col">Hora</th>
      <th scope="col">Valoración</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>the Bird</td>
      <td>
        <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center">
          <div *ngFor="let star of starsArr[0]" [ngClass]="[star.class]" (click)="selectStar(star.id,0)">
            <mat-icon>{{star.icon}}</mat-icon>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>the Bird</td>
      <td>
        <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center">
          <div *ngFor="let star of starsArr[1]; let i = index" [ngClass]="[star.class]" (click)="selectStar(star.id,1)">
            <mat-icon>{{star.icon}}</mat-icon>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>the Bird</td>
      <td fxLayout="row" fxLayoutAlign="start center">
        <div class="star-rating-container star-rating-animation">
          <div *ngFor="let star of starsArr[2]" [ngClass]="[star.class]" (click)="selectStar(star.id,2)">
            <mat-icon>{{star.icon}}</mat-icon>
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table> -->

<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Referencia Medico</th>
      <th scope="col">Hora</th>
      <th scope="col">Calificacion</th>

    </tr>
  </thead>
  <tbody *ngFor="let citas of listaCitas; let i = index">
    <tr>
      <th scope="row">{{i}}</th>
      <!-- <td>{{citas.fecha.getDate()}}+"/"+{{citas.fecha.getMonth()}}+"/"+{{citas.fecha.getFullYear()}}</td> -->
      <td>{{(citas.fecha)}}</td>
      <td>{{citas.refM}}</td>
      <!-- <td>{{citas.fecha.getHours()}}+":"+{{citas.fecha.getMinutes()}}</td> -->
      <td></td>
      <td fxLayout="row" fxLayoutAlign ="start center">
        <div class="star-rating-container star-rating animation">
          <div *ngFor ="let star of starsArr[i]" [ngClass]="[star.class]" (click)="selectStar(star.id,i)" >
            <mat-icon>{{star.icon}}</mat-icon>
          </div>
        </div>
        {{citas.calif}}</td>
    </tr>
  </tbody>
</table>

