mat-form-field {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;  
} 

mat-card {
  margin: 50px;
  background-color: #eeeeee;
} 

.tamano{
  margin-top: 5%;
  max-width: 70%;
  margin-left: 15%;

}
.boton{
  margin-left: 15px;
  margin-right: 16px;
}

#titulo{
  font-size: 5em;
}

#titulo2{
  font-size: 2em;
}

  